<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failure</title>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />
</head>
<body>
<div class="header"><h2>Family Medical Journal</h2></div>

<div class="container">

    <p>Unable to log in </p>
    <a href="/">Try again</a>

</div>

</body>
</html>