<!DOCTYPE html>
<html lang="en">
<head>
    <title>Failure</title>
    <meta charset="UTF-8">

    <meta name="description" content="Family Medical Journal">
    <meta name="author" content="Gwendolyn Williams">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Raleway|Merriweather' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />
</head>
<body>
<div class="header"><h1>Family Medical Journal</h1></div>

<div class="container">

    <p>Unable to log in </p>
    <a href="/">Try again</a>

</div>

</body>
</html>