<!DOCTYPE html>
<html lang="en">
<head>
    <title>Family Medical Journal</title>
    <meta charset="UTF-8">
    <meta name="description" content="Family Medical Journal">
    <meta name="author" content="Gwendolyn Williams">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/factories/dataFactory.js"></script>
    <script type="text/javascript" src="/scripts/controllers/homeViewController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/medicationsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/medicationsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/statisticsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/statisticsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/visitsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/visitsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/addFamilyController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/familyMemberController.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />

    <link rel="shortcut icon" href="/views/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/views/images/favicon.ico" type="image/x-icon">
</head>
<body ng-app="myApp">

<div class="header">
    <span class="nav-container">
        <span class="nav">
            <ul>
                <li><h2><a href="/index.html">Log In / Sign Out</a></h2></li>
                <li><h2><a href="#homeView">Family Home</a></h2></li>
            </ul>
        </span>
    </span>
    <span class="nav-icon">
        <a href="#homeView"><img src="/views/images/home.png" width="24ems"/></a>
    </span>
    <h1 class="title"><a href="#homeView" class="nav-header">Family Medical Journal</a></h1>
</div>

<div class="container">

    <div class="row">
        <main ng-view></main>
    </div>

    <footer>
        <p>&copy;Gwendolyn Williams | <a href="/index.html">Sign Out</a></p>
    </footer>


</div>

</body>
</html>