<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/factories/dataFactory.js"></script>
    <script type="text/javascript" src="/scripts/controllers/homeViewController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/medicationsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/medicationsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/statisticsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/statisticsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/visitsController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/visitsListController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/addFamilyController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/FamilyMemberController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/successController.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />
</head>
<body ng-app="myApp" ng-controller="SuccessController">

<div class="container">

    <h2>Medical Journal</h2>
    <div ng-include="'/views/templates/nav.html'"></div>

    <p>Welcome, {{user_name}}!</p>

    <main ng-view></main>

</div>

</body>
</html>