<!DOCTYPE html>
<html lang="en">
<head>
    <title>Family Medical Journal</title>
    <meta charset="UTF-8">
    <meta name="description" content="Family Medical Journal">
    <meta name="author" content="Gwendolyn Williams">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway|Merriweather' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />
</head>
<body ng-app="myApp">

<div class="wrapper">
    <div class="header">
        <h1>Family Medical Journal</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class="offset-by-three six columns">

                <h3 class="bottom-space">Register</h3>

                <form action="/register" method="post">
                    <label for="username">username: </label>
                    <input class="u-full-width" type="text" name="username" id="username" />

                    <label for="password">password: </label>
                    <input class="u-full-width" type="password" name="password" id="password" />

                    <label for="first_name">First Name: </label>
                    <input class="u-full-width" type="text" name="first_name" id="first_name" />

                    <label for="last_name">Last Name: </label>
                    <input class="u-full-width" type="text" name="last_name" id="last_name" />

                    <input type="submit" value="Register" class="button"/>
                    <p ng-show="userLoggedIn">Welcome {{user}}! You are now registered. Please log in</p>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="push"></div>

<div class="footer">
    <p>&copy;Gwendolyn Williams | <a href="/index.html">Sign Out</a></p>
</div>

</body>
</html>