<!DOCTYPE html>
<html lang="en">
<head>
    <title>Family Medical Journal</title>
    <meta charset="UTF-8">
    <meta name="description" content="Family Medical Journal">
    <meta name="author" content="Gwendolyn Williams">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/factories/dataFactory.js"></script>
    <script type="text/javascript" src="/scripts/controllers/successController.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/views/styles/normalize.css" />
    <link rel="stylesheet" href="/views/styles/skeleton.css" />
    <link rel="stylesheet" href="/views/styles/style.css" />
</head>
<body ng-app="myApp" ng-controller="SuccessController">

<div class="container">

    <h2>Family Medical Journal</h2>

    <p>Welcome, {{user_first_name}}!</p>
    <a href="/home.html#/homeView">Go to Home Page</a>

</div>

</body>
</html>