/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: 'bebas_neue_regular';
    src: url('/fonts/bebasneue_regular-webfont.eot');
    src: url('/fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
    url('/fonts/bebasneue_regular-webfont.woff') format('woff'),
    url('/fonts/bebasneue_regular-webfont.ttf') format('truetype'),
    url('/fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_book';
    src: url('/fonts/bebasneue_book-webfont.eot');
    src: url('/fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebasneue_book-webfont.woff2') format('woff2'),
    url('/fonts/bebasneue_book-webfont.woff') format('woff'),
    url('/fonts/bebasneue_book-webfont.ttf') format('truetype'),
    url('/fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_light';
    src: url('/fonts/bebasneue_light-webfont.eot');
    src: url('/fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebasneue_light-webfont.woff2') format('woff2'),
    url('/fonts/bebasneue_light-webfont.woff') format('woff'),
    url('/fonts/bebasneue_light-webfont.ttf') format('truetype'),
    url('/fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_thin';
    src: url('/fonts/bebasneue_thin-webfont.eot');
    src: url('/fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
    url('/fonts/bebasneue_thin-webfont.woff') format('woff'),
    url('/fonts/bebasneue_thin-webfont.ttf') format('truetype'),
    url('/fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #e5eef2;
}

h1 {
    font-family: bebas_neue_book;
    letter-spacing: .7px;
    margin-bottom: 0;
    color: #e3eafe;
}

h2 {
    font-family: bebas_neue_book;
    letter-spacing: .7px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 3px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .7px;
    text-align: left;
    margin-bottom:25px;
    color: #ED8C72;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .7px;
    text-align: left;
    margin-bottom: 0px;
    color: #ED8C72;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .4px;
    text-align: left;
    margin-bottom: 0px;
    color: #737c80;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .7px;
}

a {
    color: #2982b5;
    text-decoration: none;
}

input[type=submit] {
    background: #ffffff;
}

footer {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}


/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 7px;
    background-color: #235473;
}

.container {
    margin-top: 50px;
}

.wrapper {
    min-height: 100%;
    /*height: auto !important;*/
    /*height: 100%;*/
    margin: 0 auto -4em;
}

.footer, .push {
    height: 2em;
    text-align: center;
}

.nav-container {
    /*display: inline;*/
}

.nav {
    padding-top: 8px;
    float: right;
}

.nav ul {
    list-style:none;
}

.nav ul li {
    display: inline;
    float: right;
}

.nav ul li a {
    padding: 30px;
    text-decoration: none;
    color: #e4ebff;
}

.nav ul li a:hover {
    color: #29a4da;
}

.nav ul li a:active {
    color: #2988BC;
}

.nav-header {
    color: #e4ebff;
}

.grey {
    color: #5e5e5e;
}

.bottom-space {
    margin-bottom: 30px;
}

.top-space {
    margin-top: 30px;
}

.button {
    background-color: #ffffff;
}

.spacer {
    margin: 0 1rem 0 1rem;
}

.no-bottom-marg {
    margin-bottom: 0px;
}

.nav-icon {
    float: right;
    margin-top: 10px;
    margin-right: 7px;
}

.splash {
    background-image: url("/views/images/beach.jpg");
    /*background-position: center center;*/
    background-size: 100% 100%;
}

.splash-box {
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: 8px #ffffff solid;
    width: 30%;
    height: 15%;
    padding: 3em 4em 5.5em 4em;
}

.splash-type {
    font-size: 5vw;
    color: #ffffff;
    text-align: center;
}

.splash-login {
    position: fixed;
    top: 55%;
    left: 43%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.float-left {
    float: left;
    margin-left: 5em;
}

.splash-login-type {
    font-family: bebas_neue_book;
    font-size: 2.5vw;
    color: #8c8c8c;
}

.white {
    color: #ffffff;
}



/* for handhelds */
@media (max-width: 450px) {
    .nav {
        display: none;
    }
}

/* for larger than handhelds */
@media (min-width: 450px) {
    .nav-icon {
        display: none;
    }
}


