<div class="row">
    <div class="offset-by-three six columns">

        <h4 class="u-full-width">Add Immunization</h4>

        <form name="immunizations">
            <label for="family_member">Family Member:</label>
            <select id="family_member" ng-model="selectedFamilyMemberID" ng-options="family_member.family_member_id as family_member.first_name for family_member in familyMembers"></select>

            <label for="immunization_name">Immunization: </label>
            <input class="u-full-width" type="text" ng-model="immunization_name" id="immunization_name" required />

            <label for="date_administered">Date Given: </label>
            <input type="date" ng-model="date_administered" id="date_administered" />

            <label for="notes">Notes: </label>
            <textarea class="u-full-width" ng-model="notes" id="notes"></textarea>

            <p><button ng-click="postImmunization()" class="button">Add Immunization</button></p>
            <p ng-show="added">{{immunization_name}} Added!</p>
        </form>
    </div>
</div>
