<div class="row">
    <div class="offset-by-three six columns">

        <h4 class="u-full-width">Add Doctor's Visit, Urgent Care, or Hospital Visit</h4>

        <form>
            <label for="family_member">Family Member:</label>
            <select id="family_member" ng-model="selectedFamilyMemberID" ng-options="family_member.family_member_id as family_member.first_name for family_member in familyMembers"></select>


            <label for="visit_type">Type of Visit: </label>
            <select id="visit_type" ng-model="visit_type">
                <option value="Primary Care Physician">Primary Care Physician</option>
                <option value="Specialist">Specialist</option>
                <option value="Urgent Care">Urgent Care</option>
                <option value="Hospital">Hospital</option>
                <option value="Therapist">Therapist</option>
                <option value="Psychiatrist">Psychiatrist</option>
            </select>

            <label for="location">Visit Location: </label>
            <input class="u-full-width" type="text" ng-model="location" id="location" />

            <label for="reason">Reason for Visit: </label>
            <input class="u-full-width" type="text" ng-model="reason" id="reason" />

            <label for="visit_date">Visit Date: </label>
            <input type="date" ng-model="visit_date" id="visit_date" />

            <label for="discharge_date">Discharge Date: </label>
            <input type="date" ng-model="discharge_date" id="discharge_date" />

            <label for="treatment">Treatment:</label>
            <input class="u-full-width" type="text" ng-model="treatment" id="treatment" />

            <label for="notes">Notes: </label>
            <textarea class="u-full-width" ng-model="notes" id="notes"></textarea>

            <p><button ng-click="postVisit()" class="button">Add Visit</button></p>
            <p ng-show="visit" class="alert">{{location}} visit added!</p>
        </form>
    </div>
</div>
