<div class="row">
    <div class="offset-by-one ten columns">

        <h3 class="u-full-width no-bottom-marg"> {{family_member_first_name}} {{family_member_last_name}}</h3>
        <p><a href="#medicationsList/{{familyMemberID}}" class="grey">Medications</a> <span class="spacer">|</span>
            <a href="#statisticsList/{{familyMemberID}}" class="grey">Statistics</a> <span class="spacer">|</span>
            <a href="#visitsList/{{familyMemberID}}" class="grey">Doctors Visits & Hospitalizations</a></p>

        <p ng-show="deleted">deleted!</p>

        <h4><a href="#medicationsList/{{familyMemberID}}">Medications</a></h4>

        <div ng-repeat="medication in medications | orderBy:'+medication_name'">
            <p><strong>{{medication.medication_name}}</strong><br />
            Dosage: {{medication.dosage}}, {{medication.frequency}}<br />
            Date Started: {{medication.date_started | date}}<br /></p>
        </div>

        <h4><a href="#statisticsList/{{familyMemberID}}">Statistics</a></h4>
        <p>
            <span ng-if="statistics.feet != null">Height: {{statistics.feet}}' {{statistics.inches}}"<br /></span>
            <span ng-if="statistics.weight != null">Weight: {{statistics.weight}}<br /></span>
            <span ng-if="statistics.date_of_birth != null">Date of Birth: {{statistics.date_of_birth | date}}<br /></span>
            <span ng-if="statistics.physician != null">Physician: {{statistics.physician}}<br /></span>
            <span ng-if="statistics.physician_street_1 != null">Physician Address: {{statistics.physician_street_1}}, {{statistics.physician_street_2}},
            {{statistics.physician_city}}, {{statistics.physician_state}} {{statistics.physician_zip}}<br /></span>
            <span ng-if="statistics.blood_type != null"> Blood Type: {{statistics.blood_type}}<br /></span>
            <span ng-if="statistics.med_allergies != null">Medication Allergies: {{statistics.med_allergies}}<br /></span>
            <span ng-if="statistics.notes != null">Notes: {{statistics.notes}}</span>
        </p>

        <h4><a href="#visitsList/{{familyMemberID}}">Doctors Visits & Hospitalizations</a></h4>
        <div ng-repeat="visit in visits | orderBy:'-visit_date'">
            <p><strong>Visit Date: {{visit.visit_date | date}}</strong><br />
                Location: {{visit.location}}<br />
                Reason: {{visit.reason | date}}<br /></p>
        </div>

        <p><button ng-click="deleteFamilyMember(familyMemberID)">Delete Family Member</button>

    </div>
</div>