<div class="row">
    <div class="offset-by-three six columns">

        <h4>Log In</h4>

        <form action="/login" method="post">
            <label for="username">username: </label>
            <input class="u-full-width" type="text" ng-model="username" id="username" />

            <label for="password">password: </label>
            <input class="u-full-width" type="text" ng-model="password" id="password" />

            <p><button ng-click="">Log In</button></p>
        </form>

        <!--<a href="#" ng-click="signOut()">Sign out</a>-->

    </div>
</div>