<div class="row">
    <div class="offset-by-three six columns">

        <h4 class="u-full-width">Add Medication</h4>

        <form name="medications">
            <label for="family_member">Family Member:</label>
            <select id="family_member" ng-model="selectedFamilyMemberID" ng-options="family_member.family_member_id as family_member.first_name for family_member in familyMembers"></select>

            <label for="medication_name">Medication: </label>
            <input class="u-full-width" type="text" ng-model="medication_name" id="medication_name" required />

            <label for="dosage">Dosage: </label>
            <input class="u-full-width" type="text" ng-model="dosage" id="dosage" required />

            <label for="frequency">Frequency: </label>
            <input class="u-full-width" type="text" ng-model="frequency" id="frequency" />

            <label for="date_started">Date Started Medication: </label>
            <input type="date" ng-model="date_started" id="date_started" />

            <label for="date_stopped">Date Stopped Medication: </label>
            <input type="date" ng-model="date_stopped" id="date_stopped" />

            <label for="physician">Prescribing Physician: </label>
            <input class="u-full-width" type="text" ng-model="physician" id="physician" />

            <label for="reason">Reason for Medication: </label>
            <input class="u-full-width" type="text" ng-model="reason" id="reason" />

            <label for="notes">Notes: </label>
            <textarea class="u-full-width" ng-model="notes" id="notes"></textarea>

            <p><button ng-click="postMedication()">Add Medication</button></p>
            <p ng-show="added">{{medication_name}} Added!</p>
        </form>
    </div>
</div>
