<div class="row">
    <div class="twelve columns">
        <div class="menu">
            <ul>
                <li><a href="/index.html">Log In / Sign Out</a></li>
                <li><a href="#homeView">Home</a></li>
                <!--<li><a href="#medications">Medications</a></li>-->
                <!--<li><a href="#visits">Doctor Visits</a></li>-->
                <!--<li><a href="#statistics">Statistics</a></li>-->
                <!--<li><a href="/index.html">Log In</a> | <a href="/signout.html">Sign Out</a></li>-->

            </ul>
        </div>
    </div>
</div>