<div class="row">
    <div class="offset-by-one ten columns">

        <h4>Doctors Visits & Hospitalizations for {{family_member_first_name}} {{family_member_last_name}}</h4>
        <div ng-repeat="visit in visits">
            <p><strong>{{visit.visit_type}}</strong><br />
                Location: {{visit.location}}<br />
                Reason: {{visit.reason | date}}<br />
                Visit Date: {{visit.visit_date | date}}<br />
                Discharge Date: {{visit.discharge_date | date}}<br />
                Treatment: {{visit.treatment}}<br />
                Notes: {{visit.notes}}</p>
        </div>

    </div>
</div>